<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>게시물 작성</title>
</head>
<body>
<div class="container">
  <div class="contents">
    <div class="form" th:action="@{~/boards/add}" method="post">

      <div class="item">
        <span>게시판 이름</span>

        <input type="text" name ="title">
      </div>
      <div class="item">
        <span>게시판 설명</span>
        <textarea name="detail" id="" cols="30" rows="10"></textarea>
        <input type="text" name ="body">
      </div>

    </div>
  </div>
</div>
</body>
</html>