<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<header th:fragment="headerFragment">

    <div class="header">

        <nav class="flex mt-6 mx-auto p-3">

            <ul class="flex">
                <a href="/" class="text-2xl ml-24">
                    <span>윤이나반짝</span>
                </a>
            </ul>

            <ul class="flex ml-auto mr-24">
                <li sec:authorize="isAnonymous()">
                    <a class="mr-4" th:href="@{~/members/login}">로그인</a>
                    <a th:href="@{~/members/join}">회원가입</a>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <button id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" sec:authentication="principal.username" type="button">님<svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>

                    <!-- Dropdown menu -->
                    <div id="dropdownInformation" class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-1" aria-labelledby="dropdownInformationButton">
                            <li>
                                <a href="/articles/write/" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">게시물 작성</a>
                            </li>
                            <li>
                                <a href="/members/modify" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">회원정보 수정</a>
                            </li>
                        </ul>
                        <div class="py-1">
                            <a href="/members/logout" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">로그아웃</a>
                        </div>
                    </div>
                </li>
                <!--
                <li sec:authorize="isAuthenticated()">
                    <span sec:authentication="principal.username">&nbsp;님</span>
                </li>
                -->
            </ul>
        </nav>
    </div>
</header>
</html>