<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div class="container">
    <div class="contents">
        <div class="join-form">

            <div class="join-title">
                <h1> 회원가입 </h1>
            </div>

            <form action="" th:action="@{~/members/join}" method="POST">
                <div class="form-item">
                    <span>
                        아이디
                    </span>
                    <input name="loginId" type="text" autocomplete="off" required>
                </div>

                <div class="form-item">
                    <span>
                        비밀번호
                    </span>
                    <input name="loginPw" type="password" autocomplete="off" required>
                </div>

                <div class="form-item">
                    <span>
                        이메일
                    </span>
                    <input name="email" type="email" autocomplete="off" required>
                </div>

                <div class="form-item">
                    <span>
                        닉네임
                    </span>
                    <input name="nickname" type="text" autocomplete="off" required>
                </div>

                <div class="form-item">
                    <span>
                        이름
                    </span>
                    <input name="name" type="text" autocomplete="off" required>
                </div>

                <div class="form-item">
                    <button>회원가입</button>
                    <a href="/">
                        <button type="button">
                            취소
                        </button>
                    </a>
                </div>

            </form>

        </div>

    </div>

</div>
</body>
</html>