<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>윤이나 반짝</title>
</head>
<body>
<div layout:fragment="content">
    <!--<div class="container">
        <div class="contents">
            <h1> 청소 커뮤니티 윤이나 반짝 </h1>
            <hr>
            <a href="/members/join"> 회원가입으로 </a>
            <a href="/members/login"> 로그인으로 </a>
            <header th:replace="fragments/header::headerFragment"></header>
        </div>
        </div>-->
</div>
</body>
</html>